:root {
  --grey: #181a1c;
  --grey-1: #333648;
  --grey-2: #363a4e;
  --grey-3: #393e53;
  --grey-4: #3f445b;
  --grey-5: #545a78;
  --grey-6: #697196;
  --grey-7: #878dab;
  --grey-8: #a5aac0;
  --grey-9: #c3c6d5;
  --black: #2b2d3a;
  --red: #ff6188;
  --red-1: hsl(348, 96%, 68%);
  --red-2: hsl(348, 96%, 63%);
  --red-3: hsl(351, 20%, 28%);
  --green: hsl(93, 62%, 67%);
  --green-1: hsl(92, 50%, 63%);
  --green-2: hsl(92, 50%, 33%);
  --green-3: hsl(103, 15%, 24%);
  --yellow: #e7c664;
  --yellow-1: hsl(45, 73%, 55%);
  --yellow-2: hsl(45, 73%, 35%);
  --yellow-3: hsl(39, 25%, 25%);
  --blue: #76cce0;
  --blue-1: hsl(197, 81%, 74%);
  --blue-2: hsl(197, 81%, 64%);
  --blue-3: #354157;
  --magenta: hsl(255, 78%, 78%);
  --magenta-1: hsl(255, 78%, 68%);
  --magenta-2: hsl(255, 78%, 48%);
  --magenta-2: hsl(255, 78%, 38%);
  --cyan: #f39660;
  --orange: #f39660;
  --orange-1: hsl(22, 86%, 56%);
  --orange-2: hsl(22, 86%, 46%);
  --orange-3: hsl(22, 86%, 36%);
  --white: #e3e1e4;
}

.auto-theme {
  --bg: var(--black);
  --bg-0: var(--grey-1);
  --bg-1: var(--grey-2);
  --text: var(--white);
  --text-title: var(--grey-5);
  --text-theme: var(--grey-5);
  --text-hover: var(--grey-7);
  --text-footer: var(--grey-5);
  --info-hover: var(--blue);
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    --bg: var(--white);
    --bg-0: var(--grey-8);
    --bg-1: var(--grey-9);
    --text: var(--black);
    --text-title: var(--grey-8);
    --text-theme: var(--grey-7);
    --text-hover: var(--grey-3);
    --text-footer: var(--grey-7);
    --info-hover: var(--green-2);
  }
}