:root {
  --black-gruvbox: #282828;
  --black-gruvbox-1: hsl(0, 0%, 26%);
  --black-gruvbox-2: hsl(0, 0%, 36%);
  --red-gruvbox: #cc241d;
  --green-gruvbox: #98971a;
  --yellow-gruvbox: #d79921;
  --blue-gruvbox: #458588;
  --magenta-gruvbox: #b16286;
  --cyan-gruvbox: #689d6a;
  --orange-gruvbox: #DFAF8F;
  --white-gruvbox: #fbf1c7;
}

.gruvbox-theme {
  --bg: var(--black-gruvbox);
  --bg-0: var(--black-gruvbox-1);
  --bg-1: var(--black-gruvbox-2);
  --text: var(--white-gruvbox);
  --text-title: var(--red-gruvbox);
  --text-theme: var(--blue-gruvbox);
  --text-hover: var(--white-gruvbox);
  --text-footer: var(--orange-gruvbox);
}