:root {
  /* nord color scheme */
  --grey-nord: #2e3440;
  --grey-nord-1: hsl(220, 16%, 32%);
  --grey-nord-2: hsl(220, 16%, 42%);
  --grey-nord-3: hsl(220, 16%, 52%);
  --grey-nord-4: hsl(220, 16%, 62%);
  --grey-nord-5: hsl(220, 16%, 72%);
  --grey-nord-6: hsl(220, 16%, 82%);
  --grey-nord-7: #d8dee9;
  --black-nord: #3b4252;
  --red-nord: #bf616a;
  --green-nord: #a3be8c;
  --yellow-nord: #ebcb8b;
  --blue-nord: #81a1c1;
  --magenta-nord: #b48ead;
  --cyan-nord: #88c9d0;
  --white-nord: #e5e9f0;
}

.nord-theme {
  --bg: var(--black-nord);
  --bg-0: var(--grey-nord-1);
  --bg-1: var(--grey-nord-2);
  --text: var(--white-nord);
  --text-title: var(--grey-nord-3);
  --text-theme: var(--grey-nord-4);
  --text-hover: var( --cyan-nord);
  --text-footer: var( --blue-nord);
  --info-hover: var(--magenta-nord);
}