:root {
  /* solarized color scheme */
  --grey-solarized-dark: #002b36;
  --grey-solarized-dark-1: hsl(192, 100%, 21%);
  --grey-solarized-dark-2: hsl(192, 100%, 28%);
  --grey-solarized-dark-3: hsl(192, 100%, 35%);
  --grey-solarized-dark-4: hsl(192, 100%, 42%);
  --grey-solarized-dark-5: hsl(192, 100%, 48%);
  --grey-solarized-dark-6: hsl(192, 100%, 55%);
  --grey-solarized-dark-7: hsl(192, 100%, 62%);
  --black-soloarized-dark: #002d38;
  --red-soloarized-dark: #dc322f;
  --green-soloarized-dark: #859900;
  --yellow-soloarized-dark: #b58900;
  --blue-soloarized-dark: #268bd2;
  --magenta-soloarized-dark: #d33682;
  --cyan-soloarized-dark: #2aa198;
  --white-soloarized-dark: #eee8d5;
}

.solarized-dark-theme {
  --bg: var(--black-soloarized-dark);
  --bg-0: var(--grey-solarized-dark-1);
  --bg-1: var(--grey-solarized-dark-3);
  --text: var(--white-soloarized-dark);
  --text-title: var(--blue-soloarized-dark);
  --text-theme: var(--cyan-soloarized-dark);
  --text-hover: var( --white-soloarized-dark);
  --text-footer: var( --grey-solarized-dark-1);
  --info-hover: var(--red-soloarized-dark);
}