:root {
  /* Dark theme */
  --background-dark: #101010;
  --background-1-dark: #181818;
  --background-2-dark: #252525;
  --background-3-dark: #2b2b2b;
  --color-dark: #ececec;
  --color-1-dark: #252525;
  --color-2-dark: #383838;
  --color-3-dark: #5a5a5a;
  /* Light theme */
  --background-light: #ffffff;
  --background-1-light: #f7f7f7;
  --background-2-light: #d4d4d4;
  --background-3-light: #c0c0c0;
  --color-light: #363636;
  --color-1-light: #ebebeb;
  --color-2-light: #8a8a8a;
  --color-3-light: #5a5a5a;
}

.system-theme {
  background-color: var(--background-dark);
  color: var(--color-dark);
}

.system-theme .app-name .app-title {
  color: var(--color-1-dark);
}

.system-theme .theme-dropdown p:hover {
  color: var(--color-dark);
}

.system-theme .theme-dropdown p {
  color: var(--color-3-dark);
}

.system-theme .theme-content {
  background-color: var(--background-1-dark);
}

.system-theme .theme-content p:hover {
  color: var(--color-3-dark);
  background-color: var(--background-2-dark);
}

.system-theme .emote-container .emote-copy #emote-display {
  color: var(--color-dark);
}

.system-theme .emote-container .emote-copy .emote-tooltip {
  background-color: var(--background-1-dark);
}

.system-theme .emote-container .emote-copy .emote-tooltip::after {
  border-color: var(--background-1-dark) transparent transparent transparent;
}

.system-theme .app-footer a,
.app-footer span {
  color: var(--color-2-dark);
}

@media (prefers-color-scheme: light) {
  .system-theme {
    background-color: var(--background-light);
    color: var(--color-light);
  }
  .system-theme .app .app-name .app-title {
    color: var(--color-2-light);
  }
  .system-theme .theme-dropdown p:hover {
    color: var(--color-light);
  }
  .system-theme .theme-dropdown p {
    color: var(--color-2-light);
  }
  .system-theme .theme-content {
    background-color: var(--background-1-light);
  }
  .system-theme .theme-content p:hover {
    color: var(--color-3-dark);
    background-color: var(--background-2-light);
  }
  .system-theme .emote-container .emote-copy #emote-display {
    color: var(--color-light);
  }
  .system-theme .emote-container .emote-copy .emote-tooltip {
    background-color: var(--background-1-light);
  }
  .system-theme .emote-container .emote-copy .emote-tooltip::after {
    border-color: var(--background-1-light) transparent transparent transparent;
  }
  .system-theme .app-footer a,
  .app-footer span {
    color: var(--color-2-light);
  }
}