:root {
  --black-zenburn: #3F3F3F;
  --black-zenburn-1: hsl(0, 0%, 28%);
  --black-zenburn-2: hsl(0, 0%, 32%);
  --red-zenburn: #CC9393;
  --green-zenburn: #7F9F7F;
  --yellow-zenburn: #F0DFAF;
  --blue-zenburn: #8CD0D3;
  --magenta-zenburn: #DC8CC3;
  --orange-zenburn: #DFAF8F;
  --white-zenburn: #DCDCCC;
}

.zenburn-theme {
  --bg: var(--black-zenburn);
  --bg-0: var(--black-zenburn-1);
  --bg-1: var(--black-zenburn-2);
  --text: var(--white-zenburn);
  --text-title: var(--green-zenburn);
  --text-theme: var(--magenta-zenburn);
  --text-hover: var(--white-zenburn);
  --text-footer: var(--blue-zenburn);
  --info-hover: var(--yellow-zenburn);
}