.app-button {
  background-color: var(--background-dark);
  color: var(--color-1-dark);
  border: none;
  cursor: pointer;
  border-radius: 5pt;
  padding: 0;
}

.app-button:hover {
  color: var(--color-3-dark);
}

.app-button:active {
  background-color: var(--background-1-dark);
}

@media (prefers-color-scheme: light) {
  .app-button {
    background-color: var(--background-light);
    color: var(--color-1-light);
  }
  
  .app-button:hover {
    color: var(--color-3-light);
  }
  
  .app-button:active {
    background-color: var(--background-1-light);
  }
}
