.app-custom {
  position: absolute;
  margin: 0;
  width: 100%;
  margin-bottom: 15em;
  bottom: 0;
}

.app-custom .add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-button {
  width: 32pt;
  height: 32pt;
  padding: 2pt;
  margin: auto;
  background-color: var(--bg);
  color: var(--bg-1);
  transition: color 100ms ease-in;
}

.add-button:hover {
  background-color: var(--bg-0);
  color: var(--text-hover);
}

.add-button:active {
  background-color: var(--bg);
  color: var(--text);
}