:root{
  --background-dark: #101010;
  --color-dark: #ececec;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;

  background-color: var(--background-dark);
  color: var(--color-dark);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  display: flex;
  place-content: center;
  width: 100%;
  height:64pt;
  font-size: 21pt;
  font-weight: 300;
}

.app-name 
.app-title {
  margin: auto;
  margin-top: 32pt;
  color: #383838;
}

.app-name
.app-title:hover {
  cursor: pointer;
}

.emote-container {
  display: grid;
  height: 100%;
  place-content: center;
}

.emote-container
.emote-copy
#emote-display {
  font-size: 40pt;
  width: 100%;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--background-dark);
  color: var(--color-dark);
}

.emote-container
.emote-copy
input[type='text'] {
  text-align: center;
  border: none;
  text-decoration: none;
  outline: none;
}

.emote-container
.emote-copy
input[type='text']:disabled {
  color: white !important;
}

.emote-container
.emote-copy
#emote-display:hover {
  cursor: pointer;
}

.emote-container
.emote-copy
#emote-display:active {
  font-size: 39pt;
}

.emote-container
.emote-copy
.emote-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #555;
  left: 50%;
  text-align: center;
  width: 60pt;
  padding: 5pt;
  border-radius: 5pt;
  bottom: 54%;
  z-index: 1;
  margin-left: -30pt;
}

.emote-container
.emote-copy
.emote-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5pt;
  border-width: 5pt;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.emote-container
.emote-copy:hover
.emote-tooltip {
  visibility: visible;
  opacity: 1;
}

.app-footer {
  height: 32pt;
  display: flex;
  flex-direction: row;
  place-content: center;
}

.app-footer a, .app-footer span {
  margin: auto 0pt;
  text-decoration: none;
  color: #353535;
  font-weight: 300;
}

.app-footer span {
  padding: 0pt 5pt;
}

.app-footer a:hover {
  text-decoration: underline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}
