@import url('./themes/themes.css');
@import url('./button.css');
@import url('./modifiers.css');
html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-footer {
  height: 32pt;
  display: flex;
  flex-direction: row;
  place-content: center;
}

.app-footer a,
.app-footer span {
  margin: auto 0pt;
  text-decoration: none;
  color: var(--text-2);
  font-weight: 300;
}

.app-footer span {
  cursor: default;
  padding: 0pt 5pt;
}

.app-footer a:hover {
  color: var(--text-hover);
  text-decoration: underline;
}