.color-transition {
  transition: background-color 250ms ease-in;
}

.theme-dropdown {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.theme-dropdown p {
  margin: 0;
}

.theme-dropdown p,
.theme-dropdown a {
  color: var(--text-theme);
  transition: color 125ms ease-in;
}

.theme-dropdown p:hover {
  cursor: pointer;
  color: var(--text-hover);
}

.theme-content {
  position: absolute;
  min-width: 110pt;
  max-height: 60vh;
  z-index: 1;
  border-radius: 5pt;
  background-color: var(--bg-0);
  overflow: scroll;
}

.theme-element p {
  margin: 0;
  padding: 5pt 8pt;
  width: 100%;
}

.theme-content .theme-element:hover {
  background-color: var(--bg-1);
}

.theme-content .theme-element {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
}

.theme-element .theme-info {
  margin: auto;
  margin-right: 2pt;
}

.theme-element .theme-info svg {
  margin: auto;
  width: 16pt;
  height: 16pt;
}

.theme-element .theme-info:hover {
  color: var(--info-hover);
}